@import "base";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

.imu {
    margin: 0;
    .base {
        position: relative;
        overflow: hidden;
        margin:0 auto; 
        width:300px; 
        height:100%;
    }
    .slide-wrapper {
       position: absolute;
       left: 0;
       top: 0;
       bottom: 0;
    }
    .clear {
        display: block;
        width: 100%;
        float: none;
        height: 0px;
        clear: both;
    }
    a {
        text-decoration: none;
    }
    .hide {
        display: none !important;
    }
	.flex-container {
        height:100%;
        float: left;
        width: 300px;
        position:relative;
        display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	    //-webkit-align-content: flex-start;
	    -ms-flex-line-pack: start;
	    //align-content: flex-start;
	    -webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	    align-items: stretch;
		
	}
	.poll-wrapper {
		-webkit-order: 0;
	    -ms-flex-order: 0;
	    order: 0;
	    -webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	    flex: 1 0 auto;
	    -webkit-align-self: stretch;
	    -ms-flex-item-align: stretch;
	    align-self: stretch;
	    position: relative;
	}
	.top-banner {
        width: 100%;
        height: 50px;
        -webkit-order: 0;
	    -ms-flex-order: 0;
	    order: 0;
	    -webkit-flex: 0 1 auto;
	    -ms-flex: 0 1 auto;
	    flex: 0 1 auto;
	    -webkit-align-self: stretch;
	    -ms-flex-item-align: stretch;
	    align-self: stretch;
    }
    .abs-full {
        background: #fff;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border:1px solid #cfcfcf;
        
    }
    .abs-full:not(.headpage) {
        z-index: 4;
    }
    .l-m {
        text-transform: uppercase;
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        span {
            display: block;
        }
    }
    .headpage {
    	padding: 5px;
        z-index: 2 !important;
    	a {
    		position: absolute;
    	}
    	a.vote-image {
    		top: 5px;
    		bottom: 5px;
    		left: 5px;
    		right: 5px;
            z-index: 2;
            &:after {
                background-color: rgba(0,0,0,0.45);
                content: '';
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                z-index: 0;
            }
    	}
    	
    }
    a.l-m {
            right:6px;
            top:6px;
            height: 34px;
            font-size:  14px;
            line-height: 34px;
            
            z-index:3;
            position: absolute;
            span {
                padding: 0 13px;
            }
        }
    .title {
    	font:22px / 22px 'Roboto Condensed', sans-serif;
    	color: #fff !important;
        position: absolute;
        bottom: 48px;
        left: 20px;
        right: 20px;
        display: block;
        z-index: 1;
        .author {
            font:normal 11px / 16px Arial,Helvetica,sans-serif;
            display: block;
        }
    }
    .bottom-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20px;
        z-index: 1;
    }
    .vote-animation {
        height: 26px;
        width: 22px;
        background:inline-image('/widget/pointer-vote.svg') no-repeat 100% bottom;
        display: block;
        position: relative;
        margin: -19px 0 0 19px;
        float: left;
        &:after {
            background:inline-image('/widget/pulse.svg') no-repeat 100% 100%; 
            position: absolute;
            animation: pulse 3s infinite;
            content: '';
            width: 22px;
            height: 12px;
            right:-2px;
            z-index: 1;
        }
        
        @keyframes pulse {
          0%, 100% {
            opacity:100%;
          }
          50% {
            opacity:0;
          }
        }
    }
    .owo-icon {
        float: right;
        width: 19px;
        height: 10px;
        background-image: inline-image('/widget/owo.svg');
        background-repeat:no-repeat;
        background-size:contain;
        display: inline-block;
        margin: 0 10px 10px 0;
    }
    .top-left {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: inline-block;
    }
    .views {
        margin:12px 0 12px 14px;
        display: inline-block;
        background: inline-image('/widget/views.svg') no-repeat 0 50%;
        padding-left: 20px;
        color: #fff;
        font: 12px / 12px 'Roboto Condensed', sans-serif;
    }
    .closed-poll {
        display:block;
        background: #fff;
        padding:0 5px;
        height:16px;
        @include border-radius(3px);
        color: #333;
        font: 11px / 15px 'Roboto Condensed', sans-serif;
        margin:0 0 0 8px;
        text-transform: uppercase;
    }
    .other-polls-bullets {
        margin:0;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 15px;
        text-align: center;
        padding: 0;
        z-index:3;
        li {
            list-style: none;
            border-width:1px;
            border-color:#fff;
            border-style: solid;
            height: 3px;
            width: 3px;
            display: inline-block;
            @include border-radius(5px);
            margin: 0 1px;
            &.current-poll {
                background-color: #fff;
            }
        }
        &.on-white {
            bottom: 6px;
            li {
                border-color: #555;
                &.current-poll {
                    background-color: #555;
                }
            }
        }
    }
    .options {
        background: #fff;
        .l-m {
            line-height: 30px;
            font-size: 16px;
            line-height: 30px;
            display: inline-block;
            margin-top: 10px;
            span {
                padding: 0 19px;
            }
        }
    }
    .top-acions {
        height: 50px;
        text-align: center;
        .l-m {
            position: static;
        }
    }
    .btn {
        display: inline-block;
        width: 50px;
        height: 50px;
    }
    .back {
        float: left;
        background: inline-image('/widget/back.svg') no-repeat center;
    }

    .share-btn {
        float: right;
        background: inline-image('/widget/share.svg') no-repeat center;
    }
    .answers-area, .sharing-wrapper {
        top: 57%;
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
         position:absolute;
         margin:0 20px 0 20px;
         left: 0;
         right: 0;
    }
    input[type="checkbox"], input[type="radio"] {
        display:none;
    }
    input[type="checkbox"] + label .circle-area, input[type="radio"] + label .circle-area {
        display:table-cell;
        width:16px !important;
        height:16px !important;
        border-width:2px;
        border-style:solid;
        border-color:#ec4457;
        position:absolute;
        top: 50%;
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
        box-sizing: content-box;
    }
    input[type="radio"]:not(:checked) + label .circle-area {
        background-color: transparent !important;
    }
    input[type="radio"] + label .circle-area {
        @include border-radius(26px);
    }
    input[type="checkbox"]:checked + label .circle-area, input[type="radio"]:checked + label .circle-area {
        background-image:inline-image('/widget/smart/separated/checked.svg');
        background-color:#ec4457;
        background-size: 12px;
        background-repeat:no-repeat;
        background-position:50%;
        border-width:2px;
        border-style:solid;
        border-color:#ec4457;
    }
    input[type="checkbox"] + label, input[type="radio"] + label {
        padding:0 !important;
        font-weight:normal !important;
        font-size:14px;
        line-height:normal;
        font-family:Helvetica, Arial, sans-serif !important;
        display:table;
        width:100%;
        min-height:24px;
        position:relative;
        .answer-name {
            padding: 0 0 0 34px;
            vertical-align:middle;
            display: table-cell;
            color:#333;
            height:32px;
        }
        .votes-percentage ~ .answer-name {
            padding-right:46px;
        }
        .votes-percentage {
            position:absolute;
            top: 50%;
            display:table-cell;
             -webkit-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
             transform: translateY(-50%);
            box-sizing: content-box;
            right:0;
            font:16px / 16px 'Roboto Condensed', sans-serif;
            color:#333;
        }
    }
    .next {
        text-transform: uppercase;
        color: #333;
        font: normal 16px / 16px 'Roboto Condensed', sans-serif;
        float: right;
        margin: 17px 25px 0 0;
        white-space: nowrap;
        .text {
            float: left;
            display: inline-block;
        }
        .hand {
            display: inline-block;
            background: inline-image('/widget/next-gesture.svg') no-repeat center;
            width:26px;
            height: 23px;
            margin-left:4px;
            animation: swipe 3s infinite;
            margin-top: -4px;
        }
        @keyframes swipe {
          0%, 100% {
            background-position:100% 50%;
          }
          30% {
            background-position:0 50%;
          }
          50% {
            background-position:100% 50%;
          }
        }
    }
    .social-btn-container {
        display: inline-block;
        width:100%;
        margin-bottom: 4px;
    }
    .g-plusone-share-btn,
    .fb-share-btn,
    .twitter-share-btn,
    .linked-in-share-btn,
    .weibo-share-btn,
    .vk-share-btn {
        display:block;
        float: left;
        width:calc(25% - 1px);
        height:39px;
        cursor: pointer;
        @include border-radius(0);
        background-repeat: no-repeat;
        background-position:50% 50%;
        background-size:38px;
        border-right:1px solid #fff;
        border-bottom:1px solid #fff;
        &:last-child, &:nth-child(4) {
            border-right:none;
        }
    }
    .g-plusone-share-btn {
        background-image: inline-image('/common-web/social/gp.svg') !important;
        background-color: #ef5c4a !important;
        background-repeat:no-repeat;
        text-indent:-5000px;
    }
    .fb-share-btn {
        background-image: inline-image('/common-web/social/fb.svg');
        background-color: #5a7cc3;
    }
    .twitter-share-btn {
        background-image: inline-image('/common-web/social/tw.svg');
        background-color: #2daae1;
    }
    .linked-in-share-btn {
        background-image: inline-image('/common-web/social/lin.svg');
        background-color: #0987c4;
    }
    .weibo-share-btn {
        background-image: inline-image('/common-web/social/weibo.svg');
        background-color: #e6162d;
    }
    .vk-share-btn {
        background-image: inline-image('/common-web/social/vk.svg');
        background-color: #45688e;
    }
    .sharing-wrapper {
        .l-m {
            width: 100%;
            display: block;
            line-height: 40px;
            height: 40px;
            font-size: 18px;
            padding:0;
            position: static;
            span {
                padding: 0;
            }
        }
    }
}