@import "base";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

.overall-widget-trivia {
    margin:0;
    border:0;
    -webkit-box-shadow:inset 0 0 0 1px #eee;
    box-shadow:inset 0 0 0 1px #eee;
    .f-return {
        background:inline-image('f-back.png') no-repeat center;
        width:112px;
        height:112px;
        margin:19px auto 0;
        & + .headline {
            top:165px;
            .skip-btn {
                float:none;
                margin:14px auto 0;
                position:static;
                clear: both;
                display:inline-block;
            }
        }
    }
    .flex-container {
        display: -webkit-flex;
        display: flex;
        display: -ms-flexbox;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .n-container:not(.column) {
        left: 300px;
        width:auto !important;
        .side {
            width: 100%;
        }
    }
    .flex-container, .n-container {
        height:100%;
        position:relative;
        font-family:Arial,Helvetica,sans-serif;
        .show-more-wrapper {
            display: none;
        }
        .relbox {
            overflow-x: auto;
            margin-top: 10px;
            p:first-child {
                margin-top: 0;
            }
        }
        &:not(.column) {
            .side-box:not(.right-content) {
                flex: 0 1 300px;
            }
        }
        &.column {
            -webkit-flex-flow: column nowrap; /* Safari */
            flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
            webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            .show-more-wrapper {
                display: block;
                .close-text {
                    float: left;
                    display: none;
                }
            }
            .side-box {
                width:100%;
                float:none;
                &.shortw {
                    height: 250px !important;
                }
            }
            .main-titles {
                top:12px;
            }
            .results-main {
                padding-top:30px;
            }
            .score {
                bottom:16px;
            }
            .result-options {
                margin-bottom:9px;
            }
            .results-description {
                padding-top:20px;
                .text {
                    overflow: hidden;
                    top:77px;
                    bottom:59px;
                }
            }
            .answers-area {
                overflow:auto;
                max-height:74%;
                margin:20px;
                position:static;
                transform:none;
                -webkit-transform:none;
                .item {
                    width: 100%;
                }

            }
            footer {
                .share-btn {
                    margin-left:22px;
                }
            }
            .shortw.final-screen {
                height: 250px !important;
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-align-self: stretch;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                position: relative;
                .skip-btn {
                    margin: 0 auto;
                    position: static;
                    width: 105px;
                    float: none;
                }
            }
            .final-screen:not(.shortw) {
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 1 0 auto;
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;
                -webkit-align-self: stretch;
                -ms-flex-item-align: stretch;
                align-self: stretch;
            }
        }
        &.simple-light {
            .share-btn {
                background-image: inline-image('share-white.svg') !important;
            }
            .project-icon:not(.cstm-icn) {
                background-image:inline-image('owol-white.svg') !important;
            }
            * {
                box-shadow:none;
            }
            .score-num {
                color: #fff;
            }
        }

    }
    .base {
        position: relative;
    }
    .side-box {
        position:relative;
        -webkit-box-shadow:inset 0 0 0 1px #eee;
        box-shadow:inset 0 0 0 1px #eee;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        &.right-content {
            -webkit-flex: 1 1 0;
            -ms-flex: 1 1 0;
            flex: 1 1 0;
        }
        &:first-child {
            background:inline-image('defaultbg.jpg') no-repeat center;
            background-size:cover;
        }
        .final-screen.side {
            background-size: 100% !important;
            height: 100%;
            background-repeat: repeat;
            background-position: 0 0;
            .fsc-wrap {
                margin-top:23px;
            }
            .project-icon {
                position:fixed;
            }
        }
    }
    .right-content {
        background:#fff;
    }
    .answers-area {
        font:normal 14px / 23px Arial,Helvetica,sans-serif;
        color:#333;
        top: 20px;
         position:absolute;
         list-style:none;
         margin:0 0 0 20px;
         padding:0;
         left: 0;
         right: 20px;
         bottom: 46px;
         overflow-x: auto;
    }
    input[type="checkbox"], input[type="radio"] {
        display:none;
    }
    input[type="checkbox"] + label, input[type="radio"] + label {
        padding:0 !important;
        display:table;
        width:100%;
        height:36px;
        position:relative;
        cursor:pointer;
        margin-bottom: 8px;
        .answer-name {
            padding: 0 0 0 38px;
            vertical-align:middle;
            display: table-cell;
            color:#333;
            height:24px;
            line-height: 16px;
            .cut-me {
                  width:calc(100% - 38px);
                    text-overflow: ellipsis;
                    position: absolute;
                    overflow: hidden;
                    white-space: nowrap;
                    top: 0;
            }
        }
    }
    input[type="checkbox"] + label[for^="side-"], input[type="radio"] + label[for^="side-"] {
        cursor:pointer;
    }
    input[type="checkbox"] + label .circle-area, input[type="radio"] + label .circle-area {
        display:table-cell;
        width:18px !important;
        height:18px !important;
        border-width:3px;
        border-style:solid;
        border-color:#6891dd;
        position:absolute;
        top: 50%;
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
        box-sizing: content-box;
    }
    input[type="radio"]:not(:checked) + label .circle-area {
        background-color: transparent !important;
    }
    input[type="radio"] + label .circle-area {
        @include border-radius(26px);
    }
    input[type="checkbox"]:checked + label .circle-area, input[type="radio"]:checked + label .circle-area {
        background-image:inline-image('checked.svg');
        background-color:#6891dd;
        background-size: 12px;
        background-repeat:no-repeat;
        background-position:50%;
        border-width:3px;
        border-style:solid;
        border-color:#6891dd;
    }
    input[type="checkbox"]:checked + label .circle-area.dark, input[type="radio"]:checked + label .circle-area.dark {
        background-image:inline-image('check-black.svg') !important;
    }
    .main-titles {
        position:absolute;
        z-index:2;
        left:36px;
        right:36px;
        bottom:25px;
        top:25px;
        color:#fff;
    }
    .skip-btn {
        float:right;
        background: #fff;
        height: 26px;
        font: normal 14px / 25px 'Roboto Condensed', sans-serif;
        color: #333;
        @include border-radius(20px);
        padding: 0 13px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: none;
        left: -19px;
        bottom:-7px;
        position: absolute;
        cursor: pointer;
        &.disabled {
            pointer-events: none;
            color: #dfdfdf;
        }
    }
    .center {
        text-align:center;
    }
    .italic {
        font-style:italic;
    }
    .hide {
        display:none;
    }
    .top-title {
        text-transform:uppercase;
        font:normal 12px/28px 'Roboto Condensed', sans-serif;
        .cut-me {
            width:100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .headline {
        font:normal 23px / 23px 'Roboto Condensed', sans-serif;
        top: 46%;
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
         position:absolute;
         max-height: 100%;
         overflow:hidden;
         left: 0;
         right: 0;
         padding-bottom:4px;
    }
    .score-num {
        font:normal 16px / 46px 'Roboto Condensed', sans-serif;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 46px;
        width: 60px;
        bottom: 0;
        text-align: center;
        color: #333;
    }
    .result-options {
        font:normal 18px / 20px 'Roboto Condensed', sans-serif;;
        margin-bottom:29px;
        .string {
            display:block;
            font:normal 14px / 22px Arial,Helvetica,sans-serif;
        }
        .cut-me {
            width:100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .img-wrapper {
        position:absolute;
        z-index:1;
        left:0;
        right:0;
        bottom:0;
        top:0;
        &:after, &:before {
            position:absolute;
            display:block;
            content:'';
            left:0;
            right:0;
            bottom:0;
        }
        &:after {
            background:rgba(0,0,0,.45);
            top:0;
        }
        &:before {
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 );
            height:92px;
            top:auto;
        }
    }
    .img-wrapper[data-image-src="undefined"]:before, .img-wrapper[data-image-src="undefined"]:after {
        display:none;
    }
    .img-wrapper[data-image-src="undefined"] + .owo-default-bg{
        display:block !important;
    }
    .owo-default-bg {
        display: none;
        position: absolute;
        content:'';
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        background-size:80px;
        background-position:center;
        background-repeat: no-repeat;
        background-image:inline-image('owo-bg.svg');
        background-color:#2b2d32;
        text-decoration: none;
        z-index:0;
    }
    footer {
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:44px;
        background: rgba(0,0,0,0.1);
        &.footer-sharing {
            background: none;
        }
    }
    .project-icon {
        background-size:24px;
        background-position:50% 50%;
        background-repeat:no-repeat;
        text-decoration:none;
        margin:0;
        width:56px;
        height:44px;
        float:right;
        &:not(.cstm-icn) {
            background-image:inline-image('owo-logo-widget.svg');
        }
        &.cstm-icn {
            background-size:14px;
        }
    }
    .share-btn {
        float:left;
        height:44px;
        margin:0 0 0 20px;
        padding:0 0 0 20px;
        cursor:pointer;
        background-image:inline-image('share.svg');
        background-position:0 47%;
        background-repeat:no-repeat;
    }
    .results-description {
        font:normal 14px / 18px Arial,Helvetica,sans-serif;
        color:#333;
        padding:20px 20px 0;
    }
    .text {
        overflow-x:auto;
        left:30px;
        right:30px;
        bottom:40px;
        top:83px;
        position:absolute;
        
    }
    .show-more, .close-text {
        color:#1575a1;
        font-weight: bold;
        text-decoration:underline;
        cursor: pointer;
    }
    .show-more-wrapper {
        position: absolute;
        bottom: 36px;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 82%, rgba(255,255,255,1) 83%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 82%,rgba(255,255,255,1) 83%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 82%,rgba(255,255,255,1) 83%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
;
        left: 30px;
        right:38px;
        height: 21px;
        text-align:right; 
        z-index: 2;
        padding: 48px 0 0;
    } 
    .results-main {
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        z-index:3;
        color:#fff;
        padding:30px;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-size: cover;
        .result-wrap {
            top: 50%;
            left: 0;
            right: 0;
             -webkit-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
             transform: translateY(-50%);
             position:absolute;
             margin-top: -50px;
        }
        .skip-btn {
            position: static;
            float: none;
            display: inline-block;
        }
        .btn.continue {
            position: absolute;
            bottom: 44px;
            left: 0;
            right: 0;
            margin: 0;
            width: auto !important;
            height: 50px;
            line-height: 50px;
            letter-spacing: 1px;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: -1;
        }
    }

    .incorrect {
        &:after {background-color: rgba( 218, 46, 31, 0.80 );}
        .btn.continue {
            background-color: #fa553d;
        }
    }
    .correct {
        &:after{background-color: rgba( 81, 119, 14, 0.80 );}
        .btn.continue {
            background-color: #8ec32e;
        }
    }
    .incorrect[style*="display: block;"] ~ footer, .correct[style*="display: block;"] ~ footer {
        background: none;
        z-index:3;
        .project-icon:not(.cstm-icn) {
            background-image:inline-image('owol-white.svg') !important;
        }
        .share-btn {
            background-image: inline-image('share-white.svg') !important;
        }
        .score-num {
            color: #fff;
        }
    }

    .result-headline {
        font:normal 18px / 20px 'Roboto Condensed', sans-serif;
        margin:10px 10px 8px;
    }
    .btn {
        float:left;
        cursor:pointer;
        width:40%;
        text-align:center;
        font:normal 20px / 30px 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        margin:0 2px 22px 0;
        color:#6891dd;
        &.continue {
            background-color:#6891dd;
            color:#fff;
            width:calc(55% - 11px);
            &.only {
                position:absolute;
                line-height:40px;
                height:40px;
                width:auto;
                right: 20px;
                left:20px;
            }
        }
    }
    .data-point-link {
        text-decoration: none;
        color: inherit;
    }
    .close-actions-for-voted-poll-btn {
        position:absolute;
        z-index:3;
        right:10px;
        top:10px;
        width:40px;
        height:40px;
        background-position:50% 50%;
        background-repeat:no-repeat;
        background-image: inline-image('close17x17-dark.svg');
        background-size:14px;
        background-color:#f5f5f5;
        @include border-radius(50px);
        cursor: pointer;
    }

    .side {
        position: relative;
        height: 250px;
        overflow:hidden; 
    }
    .final-wrap {
        display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            background:inline-image('defaultbg.jpg') no-repeat center;
            background-size:cover;
        &:not(.column) {
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            .final-screen:first-child {
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                width: 300px;
            }
            .final-screen:last-child {
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
            }
        }
        &.column {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            .side.shortw {
                height: 250px;
            }
        }
        .final-screen {
            .adv-wrapper {
                left:36px !important;
                right:36px !important;
                h6 {
                    color:#fff;
                    margin-top:15px;
                }
            }
            
            h2 {
                font-size:26px;
                margin-bottom:17px;
            }
        } 
        .final-screen:after {
            display:block;
            content:'';
            position:absolute;
            height:250px;
            width:300px;
            z-index:-1;
            background:inline-image('defaultbg.jpg') no-repeat center;
            background-size:cover;
        }
        .skip-btn {
            display:inline-block;
            float:none;
            position:static;
        }
        
    }

    .conversionDialog {
        background:#fff !important;
        -webkit-box-shadow:inset 0 0 0 1px #eee;
        box-shadow:inset 0 0 0 1px #eee;
        left:0;
        right:0;
        width:100%;
        top:0;
        bottom:0;
        position:absolute;
        z-index:4;
        color: #333;
        &.final-wrap {
            top: 0 !important;
        }
        &.column {
            top:250px;
            height: auto;
            .side {
                float: none;
                width: 100%;
                height: 350px;
            }

        }
        .crowdsource-wrapper.additional-block {
            padding: 20px;
            display: flex;
            height: calc(100% - 40px);
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; 
            p.sharing-title {
                padding: 0 0 0 0;
                font: normal 16px / 18px 'Roboto Condensed', sans-serif;
                margin:0 28px 6px 0;
            }
            p {
                font: normal 14px / 18px Arial,Helvetica,sans-serif;
            }
            .data-point {
                display: flex;
                padding-top: 7px;
                .img-dlink {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    overflow: hidden;
                    @include border-radius(40px);
                    background:inline-image('defaultbg.jpg') no-repeat center;
                    background-size:cover;
                    img {
                        width: 40px;
                        height: auto;
                    }
                }
                .hline {
                    font: normal 12px / 16px Arial,Helvetica,sans-serif;
                    color: #afafaf;
                    display: inline-block;
                    width: 100%;
                }
                .data-point-link {
                    display: inline-block;
                    width: 100%;
                    color: #333;
                    font: bold 14px / 16px Arial,Helvetica,sans-serif;
                }
                p {
                    font-size: 12px;
                }
                .dbox {
                    width: 73%;
                }
            }
        }

    }
    .final-screen {
        text-align: center;
        background-size: cover !important;
        background-repeat: no-repeat;
        color: #fff !important;
        position: relative;
        &:not(.shortw) {
            background:inline-image('bg-final.jpg') no-repeat center;
        }
        &.shortw:before {
            background:rgba(0,0,0,.35);
            top:0;
            bottom: 0;
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            z-index: 0;
        }
        .fsc-wrap {
            margin-top:40px;
        }
        h4 {
            margin:0;
            padding: 0;
            font: normal 30px / 30px 'Roboto Condensed', sans-serif;
        } 
        h6 {
            margin: 0 0 2px;
            padding: 0;
            font: normal 14px / 14px 'Roboto Condensed', sans-serif;
            color: #afafaf;
            &.left {
                text-align:left;
                padding:0 0 16px 20px;
                max-width: 245px;
                margin:0;
            }
            & + .social-btn-container {
                margin:0 0 0 20px;
                float:left;
            }
            &.more-head {
                padding-top:24px;
                clear:both;
                display:none;
            }
        }
        .link-more-trivia {
            color:#fff;
            text-decoration:underline;
            cursor:pointer;
            font: normal 26px / 26px 'Roboto Condensed', sans-serif;
            padding:0 0 3px 38px;
            text-align:left;
            display:inline-block;
            box-sizing: border-box;
            margin: 0 20px;
            width: calc(100% - 40px);
            background:inline-image('icn-more.png') no-repeat left 50%;
            display:none;
        }
        h2 {
            margin: 0 0 28px;
            padding: 0;
            font: normal 30px / 30px 'Roboto Condensed', sans-serif;
        }
        .social-btn-container {
            display: inline-block;
            max-width: 245px;
            margin: 0 auto 20px;
            &:after {
                content:'';
                display:block;
                clear:both;
                height:0;
            }
        }
        .project-icon {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .adv-wrapper {
        top: 50%;
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
         position:absolute;
         left: 0;
         right: 0;

    }
    .social-btn-container {
        display: inline-block;
        margin:0 20px 0;
    }
    .g-plusone-share-btn,
    .fb-share-btn,
    .twitter-share-btn,
    .linked-in-share-btn,
    .weibo-share-btn,
    .vk-share-btn {
        display: inline-block;
        float: left;
        margin:0 1px 1px 0;
        width: 60px;
        height: 40px;
        cursor: pointer;
        @include border-radius(0);
        background-repeat: no-repeat;
        background-position:50% 50%;
        background-size:19px;
    }
    .g-plusone-share-btn {
        background-image: inline-image('gp.svg') !important;
        background-color: #ef5c4a !important;
        background-repeat:no-repeat;
        text-indent:-5000px;
        background-size:21px 21px;
    }
    .fb-share-btn {
        background-image: inline-image('fb.svg');
        background-color: #5a7cc3;
        background-size:9px 17px;
    }
    .twitter-share-btn {
        background-image: inline-image('tw.svg');
        background-color: #2daae1;
        background-size:19px 19px;
    }
    .linked-in-share-btn {
        background-image: inline-image('lin.svg');
        background-color: #0987c4;
    }
    .weibo-share-btn {
        background-image: inline-image('weibo.svg');
        background-color: #e6162d;
    }
    .vk-share-btn {
        background-image: inline-image('vk.svg');
        background-color: #45688e;
        background-size:19px 19px;
    }
    .add-to-site {
        font:bold 12px / 12px Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        position: fixed;
        bottom:14px;
        left: 20px;
        &:before {
            content: '';
            display: inline-block;
            background-image: inline-image('embed.svg');
            background-repeat: no-repeat;
            background-position: 0 0; 
            width: 18px;
            height: 18px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
    .sharing-title-one {
        font: normal 16px / 18px 'Roboto Condensed', sans-serif;
        padding:0;
        margin:30px 0 12px 20px;
    }
    .sharing-title {
        font: normal 18px / 18px 'Roboto Condensed', sans-serif;
        padding:0;
        margin: 0 0 20px 20px;
    }
    .sharing-title:first-child {
        margin-top: 30px;
    }
    
    .project-icon.gray-owo:not(.cstm-icn) {
        background-image:inline-image('owol-gray.svg') !important;
    }
}